{% extends 'advertise/base.html' %}
{% block content %}



  <section class="header18 cid-siKbpHcJA1 mbr-fullscreen" id="header18-q">





      <div class="align-center container">
          <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Welcome to Joshua Sell</strong></h1>

                  <p class="mbr-text mbr-fonts-style mbr-white display-7"></p>
                  <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="{% url 'products' %}">Click to Buy</a></div>
              </div>
          </div>
      </div>
  </section>









{% endblock %}
